@charset "utf-8";

html {
    font-size: 7vw;
}
body {
    color:red; 
    background-color:#000000;
    margin: 0 5vw;
}
input { 
    color: #ff0000;
    background-color: #000000;
    border: 0px;
    font-size: 4rem;
}
p {
    font-size: 1rem;
}
form {
    text-align: center;
}
form > input, form > div {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}
div {
    font-size: 1rem;
}
div.death {
    margin-top: 20px;
    text-align: right;
}

@media (min-width: 800px) {
    html {
        font-size: 3vw;
    }
    form {
        display: flex;
    }
    p.untilMonday {
        margin-top: 1.5rem;
    }
    form > input {
        width: 15vw;
        margin: 0;
    }
    div.hms {
        width: auto;
        font-size: 1rem;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    div.death {
        width: 10vw;
        text-align: left;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    div.hms > div, div.death > div {
        padding-bottom: 25px;
    }
}